extends layout 

block content 
  h1.mt-3 #{title}

  form.row.g-3.w-75(action="", method="POST") 
    div.row.g-3
      div.col.col-md-6
        label.form-label.fs-3(for="first_name") First Name 
        input#first_name.form-control.form-control-lg(type="text", 
          placeholder='John', 
          name='first_name', 
          required='true', 
          value=(author===undefined?'':author.first_name)) 

      div.col.col-md-6
        label.form-label.fs-3(for="family_name") Family Name 
        input#family_name.form-control.form-control-lg(type="text", 
          placeholder='Smith', 
          name='family_name', 
          required='true', 
          value=(author===undefined?'':author.family_name))  

    div.row.g-3
      div.col.col-md-6
        label.form-label.fs-3(for="date_of_birth") Date of Birth
        input#date_of_birth.form-control.form-control-lg(type="date", 
          placeholder='dd/mm/yyyy', 
          name='date_of_birth', 
          required='true', 
          value=(author===undefined?'':author.date_of_birth_ISO8601))

      div.col.col-md-6
        label.form-label.fs-3(for="date_of_death") Date of Death
        input#date_of_death.form-control.form-control-lg(type="date", 
          placeholder='dd/mm/yyyy', 
          name='date_of_death', 
          required='true', 
          value=(author===undefined?'':author.date_of_death_ISO8601))

    div.row.justify-content-md-center.g-3
      button.col-1.btn.btn-primary.btn-lg(type='submit') Submit 
  
  if errors
    ul 
      for error in errors 
        li!=error.msg