extends layout 

block content 
  h1=title 
  p #[em #{author.lifespan}]
  hr.w-75
  div.w-75
    h3 Books 

    dl 
      each book in author_books 
        dt 
          a(href=book.url) #{book.title}
        dd #{book.summary}
      else 
        p No Books found by this author 
  hr.w-75
  p.w-75.d-flex.justify-content-center
    a.btn.btn-danger(href=`${author.url}/delete`) Delete Author