extends layout 

block content 
  h1=title 

  table.table.table-striped.table-bordered.table-hover
    thead 
      th Name 
      th Date Of Birth 
      th Date Of Death 
    tbody 
      each author in author_list 
        tr 
          td 
            a(href=author.url) #{author.name} 
          td #{author.date_of_birth}
          td #{author.date_of_death}
      else 
        tr.table-danger 
          td(colspan="3") No Authors Available