extends layout 

block content 
  h1=title 
  p #[em #{author.date_of_birth}] - #[em #{author.date_of_death}]
  hr
  div 
    h3 Books 

    dl 
      each book in author_books 
        dt 
          a(href=book.url) #{book.title}
        dd #{book.summary}
      else 
        p No Books found by this author 
