extends layout 

block content 
  h1 #{title}

  form.row.g-3.w-75(action='', method='post')
    div.col-7
      label.form-label.fs-3(for='title') Title 
      input#title.form-control(
        type='text', 
        name='title',
        placeholder='Name of Book', 
        required='true' 
        value=(book===undefined?'':book.title))
    div.col-5
      label.form-label.fs-3(for='author') Author 
      select#author.form-select(
        type='select', 
        name='author',
        placeholder='Select Author',
        required='true'
      )
        - authors.sort((a,b)=>{
            let textA = a.family_name.toUpperCase();
            let textB = b.family_name.toUpperCase();
            return ((textA<textB)?-1:(textA>textB)?1:0);
        - });
        for author in authors 
          if book 
            option(
              value=author._id, 
              selected=(
                ((author._id.toString()==book.author._id)||
                  (author._id.toString()==book.author))
                  ?'selected':false
                  )) #{author.name}
          else 
            option(value=author._id) #{author.name}
    div.col-7
      label.form-label.fs-3(for='summary') Summary 
      textarea#summary.form-control(
        type='textarea',
        placeholder='Enter A Short Summary for this Book',
        name="summary",
        required='true',
        rows='5'
      ) #{book===undefined?'':book.summary} 
    label.visually-hidden(for='isbn') 
    div.input-group.input-group-lg.mt-4.w-50
      span.input-group-text ISBN 
      input#isbn.form-control(
        type='text',
        placeholder='ISBN13',
        name='isbn',
        required='true',
        value=(book===undefined?'':book.isbn)
      )
    div.col-8
      label.form-label.fs-3 Genre 
      div.row.g-1
        for genre in genres 
          div.col-auto
            input.btn-check(
              type='checkbox', 
              name='genre',
              id=genre._id,
              value=genre._id,
              checked = genre.checked
            )
            label.btn.btn-outline-primary.fw-bold(for=genre._id) #{genre.name}
    div.row.mt-3
      button.col-1.btn.btn-primary.btn-lg(type='submit') Submit 
  
  if errors 
    ul 
      for error in errors 
        li!=error.msg 