extends layout 

block content 
  h1=title 

  hr.w-75.ml-0

  div
    div.row
      div.col-8
        h3 #[strong Summary] 
        p #{book.summary}
      div.col-2.border.border-bottom-0.border-right-0.pt-3.bg-light
        p #[strong Author:]
          a(href=book.author.url) #{book.author.name}
        p #[strong ISBN:] #{book.isbn}
        p #[strong Genre:] 
          each val, index in book.genre 
            a(href=val.url) #{val.name} 
            if index < book.genre.length -1
              |,
  div
    h3 #[strong Copies]
    
    table.table.table-striped.table-bordered.table-hover.w-75
      thead.thead-dark 
        th Imprint 
        th Id 
        th Status 
        th Availability 
      tbody 
        each val in book_instances 
          tr 
            td #{val.imprint} 
            td 
              a(href=val.url) #{val._id} 
            if val.status=='Available'
              td.text-success #{val.status}
            else if val.status=='Maintenance'
              td.text-danger #{val.status}
            else 
              td.text-warning #{val.status}
            if val.status != 'Available'
              td #{val.due_back}
            else 
              td #[strong Now] 
        else 
          tr.table-warning 
            td(colspan="4") There are no copies of this book in the library 