extends layout 

block content 
  h1.mt-2 #{bookinstance.book.title}

  hr.w-75.ml-0

  p #[strong Book Identification Code: ] #{bookinstance._id}

  p #[strong Imprint: ] #{bookinstance.imprint}

  p #[strong Status: ]
    if bookinstance.status == 'Available'
      span.text-success #{bookinstance.status}
    else if bookinstance.status == 'Maintenance'
      span.text-danger #{bookinstance.status}
    else
      span.text-warning #{bookinstance.status}
  
  if bookinstance.status!='Available'
    p #[strong Due Back:] #{bookinstance.due_back_formatted}

  p 
    a(href=bookinstance.book.url) #[strong Book Summary]
  hr.w-75
  p.w-75.d-flex.justify-content-center
    a.btn.btn-danger(href=`${bookinstance._id}/delete`) Delete Book Copy