extends layout 

block content 
  h1 #{title}

  form.row.g-3.w-75(action='', method='post')

    div.col-10
      label.form-label.fs-3(for='book') Book 
      select#book.form-select(
        type='select',
        name="book",
        placeholder='Select Book',
        required='true',
      )
        -book_list.sort((a,b)=>{
          let textA = a.title.toUpperCase();
          let textB = b.title.toUpperCase();
          return ((textA<textB)?-1:(textA>textB)?1:0);
        -})
        for book in book_list 
          option(
            value=book._id, 
            selected=(selected_book==book._id.toString()?'selected':false
          )) #{book.title}

    div.col-10
      label.form-label.fs-3(for="imprint") Imprint 
      input#imprint.form-control(
        type="text",
        placeholder='Publisher and Date Information',
        name='imprint',
        required='true',
        value=(bookinstance===undefined?'':bookinstance.imprint)
      )

    div.col-5
      label.form-label.fs-3(for="due_back") Date when book Available 
      input#due_back.form-control(
        type="date",
        name='due_back',
        value=(bookinstance===undefined?'':bookinstance.due_back)
      )

    div.col-5
      label.form-label.fs-3(for="status") Status 
      select#status.form-select(
        name="status",
        type='select',
        placeholder='Select Status',
        required='true',
      ) 
        option(value="Maintenance", selected=((bookinstance && bookinstance.status=='Maintenance')?'selected':false)) Maintenance
        option(value="Available", selected=((bookinstance && bookinstance.status=='Available')?'selected':false)) Available
        option(value="Loaned", selected=((bookinstance && bookinstance.status=='Loaned')?'selected':false)) Loaned
        option(value="Reserved", selected=((bookinstance && bookinstance.status=='Reserved')?'selected':false)) Reserved

    div.col-10.d-flex.justify-content-center
      button.btn.btn-primary.btn-lg(type='submit') Submit 

  if errors 
    ul 
      for error in errors
        li!=error.msg 