extends layout 

block content 
  h1 Genre: #{genre.name} 

  hr.w-75
  section.w-75
    h3 Books 
    dl 
      each book in genre_books
        dt 
          a(href=book.url)  #{book.title} 
        dd #{book.summary}

      else 
        p No Books of #{genre.name} Genre Found 

  hr.w-75
  p.w-75.d-flex.justify-content-center
    a.btn.btn-danger(href=genre.url+'/delete') Delete Genre
