extends layout 

block content 
  h1.mt-3 #{title} 

  form.row.g-3.w-75(action='' method='POST')
    label.visually-hidden(for='name') 
    div.input-group.input-group-lg.my-4
      span.input-group-text Genre 
      input#name.form-control(type='text', 
        placeholder='Enter New Genre Name Here', 
        name='name', 
        value=(genre===undefined?'':genre.name),
        required='true')
    div.row
      button.col-1.btn.btn-primary.btn-lg(type='submit') Submit 

  if errors 
    ul 
      for error in errors
        li!= error.msg 