extends layout 

block content 
  h1.mt-3 #{title} 

  form.mt-3(action='' method='POST')
    div.form-group.row.text-center
      label.col-auto.col-form-label-lg(for='name') Genre: 
      input#name.form-control-lg.col-6(type='text', 
        placeholder='Enter New Genre Name Here', 
        name='name', 
        value=(genre===undefined?'':genre.name),
        required='true')
    div.mx-auto
      button.btn.btn-primary(type='submit') Submit 

  if errors 
    ul 
      for error in errors
        li!= error.msg 